/* VARIABLES */

:root {
    --even-section-bg-color: #9593e6;
    --color-blue: #0084fd;
    --txt-color-white: #fff;
    --txt-color-purple: #9593e6;
    --card-bg-color: #b5ddff;
    --txt-color-black: #5a6e7f;
    --font-size-h2: 34px;
}




/********** GENERICS **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

/********** UTILITIES **********/

.container {
    width: 100%;
    /* margin: 0; */
    padding: 0 20px;
}

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.align-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

/**** shared ****/

.card {
    /* display: flex; */
    border-radius: 25px;
    /* text-align: center; */
    background-color: white;
    padding: 25px;
    line-height: 1.4;
    /* flex-direction: column; */

}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

button {
    display: inline-block;
    border-radius: 20px;
    border-style: none;
    padding: 10px 40px;
    background-color: var(--even-section-bg-color);
    color: var(--txt-color-white);
    margin: 20px 0;

}

/**** /shared ****/

/********** CONTENT **********/

header {

    position: fixed;
    background-color: var(--color-blue);
    width: 100%;
    min-height: 80px;
    line-height: 80px;
    z-index: 100;
    /* justify-content: space-between; */
}

footer {
    background-color: darkgrey;
}

main {
    padding-top: 80px;
}


section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu {
    background-color: white;
}

.menu ul {
    display: none;
}

.fa-solid.fa-bars.fa-2x {
    display: flex;
    color: white;
    background-color: var(--color-blue);
}

header img,
header .fa-bars {
    vertical-align: middle;
}

section:nth-of-type(even) {
    background-color: var(--even-section-bg-color);
}

/* product-presentation */

#product-presentation .card {
    background-color: var(--card-bg-color);
    justify-content: space-between;
    align-items: flex-start;
}

#product-presentation .column:first-child .card {
    padding-bottom: 0;
}

#product-presentation #demo-img {
    align-self: center;
}

#product-presentation img {
    max-width: 250px;

}

#product-presentation button {
    background-color: var(--color-blue);

}

#product-presentation h2 {
    color: var(--color-blue);
}

#product-presentation .large-icons {
    font-size: 100px;
    color: var(--color-blue);
}

#product-presentation .column.card.text-center {
    align-items: center;
}


/* /product-presentation */

/* testimonials */

#testimonials h2 {
    color: var(--txt-color-purple);
    font-size: var(--font-size-h2);
}

#testimonials .card {
    background-color: var(--even-section-bg-color);

}

#testimonials img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.quoted-text::before,
.quoted-text::after {
    color: #fff;
    vertical-align: bottom;
    font-size: 70;
    line-height: 1.2;
}

.quoted-text::before {
    content: open-quote;
}

.quoted-text::after {
    content: close-quote;
}


#testimonials .flex.card {
    flex-direction: column;
}

/* /testimonials */

/* working-with-us */
#working-with-us .card h1,
#working-with-us .card h3 {
    font-weight: 700;
    color: var(--txt-color-purple);
}

#working-with-us .card h1 {
    font-size: 50px;
}

#working-with-us .card h3 {
    font-size: 24px;
}

#working-with-us .card.text-left {
    margin: 10px;
}

#working-with-us .flex.row {
    padding: 40px 0;
    justify-content: center;
}

#working-with-us .flex.row h2 {
    color: var(--txt-color-white);
    font-weight: 700;
    font-size: var(--font-size-h2);
    text-align: center;
}

/* /working-with-us */

/* about-us */
#about-us .row {
    margin-bottom: 20px;
}

#about-us img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

#about-us p {
    line-height: 1.6;
}

#about-us h2 {
    font-size: var(--font-size-h2);
    color: var(--txt-color-purple);
}

.fa-solid.fa-quote-left {
    color: var(--txt-color-purple);
    font-size: 80px;
    position: absolute;
    z-index: 1;
    left: 180px;
}

/* /about-us */


footer {
    background-color: #333333;
}





@media screen and (min-width: 768px) and (max-width: 1200px) {

    #product-presentation .column {
        width: calc(100% / 3);
        padding: 0 10px;
    }

    #product-presentation .column:first-child {
        width: calc(100% / 3 * 2);
    }

    #product-presentation img {
        width: 50%;
    }


    #testimonials .flex.card {
        flex-direction: row;
    }


    #working-with-us .card {
        width: calc((100% / 2) - 20px);
    }

}

@media screen and (min-width: 1200px) {

    .menu .fa-bars {
        display: none;
    }

    .menu ul {
        display: flex;
    }

    .menu li {
        display: inline-block;
    }


    #product-presentation .column:first-child .card {
        flex-direction: row;
    }


    #testimonials .flex.card {
        flex-direction: row;
    }



    #working-with-us .card {
        width: calc((100% / 3) - 20px);
    }

}




/********** debug **********/

.debug section {
    min-height: 500px;
}

.debug footer {
    min-height: 160px;
}

.debug .column {
    border: 1px dotted red;
    min-height: 350px;
}

.debug .card {
    height: 100%;
}